<div class = "isf-layout_chapter js--chapter style--{{ chapterStyle }}" id = "{{ id }}">
    <!-- Chapter: Style Ralph -->
    <div class = "isf-layout_chapter__header js--chapter__header">
        <div class = "isf-layout_chapter__img">
            <div class = "isf-layout_chapter__mask">
                <div class = "isf-layout_chapter__background-img__wrapper">
                    {{#if chapterBackground}}
                        <div class="isf-layout_chapter__background-img" style="background-image: url('{{ chapterBackground }}')">
                        </div>
                    {{/if}}
                    {{#if chapterVideo}}
                        <div class="isf-el_video__wrapper isf-el_video__wrapper-iframe">
                            <iframe src="https://content.jwplatform.com/players/{{ chapterVideo }}-h1yC9mkW.html" width="100%" height="100%" frameborder="0" scrolling="auto" allowfullscreen="" style="position:absolute;"></iframe>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class = "isf-layout_chapter__title isf-f-white">
            <div class = "isf-container">
                <h1>{{{ chapterTitle }}}</h1>
            </div>
        </div>
    </div>

    <div class = "isf-layout_chapter__content js--chapter__content js--content">
        <div class = "isf-container-fluid isf-{{ container }}">
            <!-- content -->
        </div>
    </div>
</div>
