<div class = "isf-el isf-el_text js--text" id = "{{ modId }}" {{#if headline}} data-x_animate_on_page_enter = "{{ x_animate_on_page_enter }}"{{/if}} >
    {{#if headline}}
        <h3 class = "isf-el_text__headline" >
            {{{ headline }}}
        </h3>
    {{/if}}
    {{#if highlight}}
        <h4 class = "isf-el_text__highlight">
            {{{ highlight }}}
        </h4>
    {{/if}}
    {{#if paragraph}}
        <p>
            {{{ paragraph }}}
        </p>
    {{/if}}
</div>
