<div class = "isf-{{ container }} isf-el_image_group isf-el_image_group--{{style}}" id = "{{ modId }}">
	<div class = "isf-el_image_group__inner">

		{{#each images}}
            <picture class = "isf-el_picture js--picture">
                <source srcset="{{ src }}"
                    media="(min-width: 768px)">
                <img src="{{ src }}" />
            </picture>
        {{/each}}

	</div>
</div>